@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

:root {
    --blue-1: #0079bf;
    --blue-2: #0067a3;
}

main {
    background-color: var(--blue-1);
}

header,
footer {
    background-color: var(--blue-2);
}

main,
form,
input,
button {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none !important;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.task:hover {
  cursor: grab;
}

.form-control {
  --bs-body-bg: var(--bs-light);
  --bs-focus-ring-color: var(--bs-gray-400);
}

.form-check-input {
  --bs-focus-ring-color: var(--bs-gray-400);
}

.list-group-item-action {
  --bs-list-group-bg: var(--bs-light);
}

.list-group-item-action:hover {
  font-weight: 700;
  --bs-list-group-action-hover-color: var(--bs-primary);
  --bs-list-group-action-hover-bg: var(--bs-light-border-subtle);
}

.task .nested-right-dd {
  bottom: 24% !important;
  height: fit-content;
}
.task .dropdown-menu {
  --bs-dropdown-min-width: fit-content;
}